@layer base {
  @font-face {
    font-family: "Syne";
    src: url("../assets/fonts/syne/Syne-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
