// Ce fichier permet de gérer les styles globaux

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Syne", sans-serif;
  background-color: #ffffff;
  color: #303234;
  font-size: 16px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

header {
  max-width: 100vw !important;
  height: 64px !important;
}

.custom-nav-bar {
  height: calc(100vh - 64px) !important;
}
